* {
  box-sizing: border-box;
  font-family: Khmer OS Battambang;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(132, 132, 132, 0.507);
}
.contaner {
  width: 100%;
  /* padding: 30px 30px; */
}
h1 {
  text-align: center;
}
ul li {
  list-style-type: none;
  text-align: center;
}
.logo {
  width: 20%;
  align-items: center;
}
.logo img {
  width: 30px;
  height: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  margin: 0;
  padding: 5px 40px;
  position: sticky;
  top: 0;
}
.btn {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.btn a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.btn a img {
  width: 30px;
  height: 30px;
}
.search-bar {
  width: 65%;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar input {
  width: 60%;
  padding: 10px 15px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-right: none;
  border-bottom-right-radius: 0;
}
.search-bar button {
  padding: 10px 15px;
  border-radius: 10px;
  padding-left: -2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgb(186, 220, 249);
  /* margin-top: 10px; */
  /* padding-left: 20px; */
  padding-bottom: 10px;
  padding-top: 10px;
  position: sticky;
  top: 65px;
  z-index: 100;
}
.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* min-height: 100vh; */
  gap: 30px;
  justify-content: center;
}

.footer {
  text-align: center;
}
